/* CSS Document */
 body
 {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  font-family: Calibri;
  margin: 0 auto;
 }
#main_reg
{
 width: 60%;
 text-indent: 7px;
 margin: 0 auto;
 background: none;
 border: 2px solid #727272;
 margin-bottom: 2em;
     box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#main_reg_request
{
 width: 70%;
 text-indent: 7px;
 margin: 0 auto;
 background: none;
 border: 2px solid #727272;
 margin-bottom: 2em;
     box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#main_reg_login
{
 width: 35%;
 text-indent: 7px;
 margin: 0 auto;
 background: none;
 border: 2px solid #727272;
 margin-bottom: 2em;
 margin-top: 2em;
     box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.sub_main
{
 margin: 0 auto;
 width: 98%;
 text-align: left;
 margin-bottom: 1em;
 border: none;
}
.request
{
 width: 40%;
 margin: 0 auto;
 border: none;
 margin-top: 5px;
 text-align: left;
}
.label
{
 color: red;
 font-family: Calibri;
 font-weight: bold;
 font-size: 17px;
 text-indent: 7px;
}
.space
{
 margin: 1em;
 text-align: center;
}
.label:hover
{
 color: green;
}
 .textbox_ 
  { 
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    background: none; /*rgba(255, 255, 255, 0.44)*/ 
    color: #253e0a; 
    border: 2px solid #6E7172; 
    padding: 4px 4px 4px 10px;
    font-size: 16px;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    height:40px; 
  } 
 .textbox_:hover 
 {
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
  } 
 .textbox_:focus 
  { 
    border: 1px solid #EFBB1D; 
    outline: none; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);  
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
  }
    .textarea
  { 
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    background: none; /*rgba(255, 255, 255, 0.44)*/ 
    color: #253e0a; 
    border: 2px solid #6E7172; 
    padding: 4px 4px 4px 10px;
    font-size: 16px;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 1.5em;
    height:7em; 
  } 
 .textarea:hover 
 {
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
  } 
 .textarea:focus 
  { 
    border: 1px solid #EFBB1D; 
    outline: none; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);  
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
  }
 .select 
  { 
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    background: none; /*rgba(255, 255, 255, 0.44)*/ 
    color: #253e0a; 
    border: 2px solid #6E7172; 
    padding: 4px 4px 4px 10px;
    font-size: 16px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height:33px; 
  } 
 .select:hover 
 {
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3); 
  } 
 .select:focus 
  { 
    border: 1px solid #EFBB1D; 
    outline: none; 
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);  
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3); 
  }
      .button 
  { 
    font-family: Arial, Helvetica, sans-serif;
    background: #0142C6;
    color: #fff;
    font-weight: bold;
    border: 1px solid #939CA2; 
    padding: 3px 4px 3px 4px;
    font-size: 16px;
    height: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2869ca),to(#72D0F4));
  background-image: -webkit-linear-gradient(top,#2869ca,#72D0F4);
  background-image: -moz-linear-gradient(top,#2869ca,#357ae8);
  background-image: -ms-linear-gradient(top,#2869ca,#357ae8);
  background-image: -o-linear-gradient(top,#2869ca,#357ae8);
  background-image: linear-gradient(top,#2869ca,#357ae8);
  } 
  
 .button:hover_
 {  
    background: #000;
    border: 1px solid #0B73B4; 
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2869ca),to(#72D0F4));
  background-image: -webkit-linear-gradient(top,#2869ca,#72D0F4);
  background-image: -moz-linear-gradient(top,#2869ca,#357ae8);
  background-image: -ms-linear-gradient(top,#2869ca,#357ae8);
  background-image: -o-linear-gradient(top,#2869ca,#357ae8);
  background-image: linear-gradient(top,#2869ca,#357ae8);
  }
  .input_space
  {
   text-align: left;
   text-indent: 7px;
   margin-top: 4px;
   margin-bottom: 4px;
  }
  .submit
  {
   margin-top: 1em;
   text-align: center;
  }
.static_head
{
 font-family: Calibri;
 font-size: 16px;
 padding: 5px;
 color: red;
 font-weight: bold;
}
.dynamic_values
{
 font-family: Calibri;
 font-size: 16px;
 padding: 5px;
 color: black;
 text-indent: 5px;
}
.donor_quetation
{
 font-family: Calibri;
 font-size: 16px;
 text-align: justify;
 padding-left: 5px;
 padding-right: 5px;
 color: red;
 font-weight: bold;
}
.sub_main_space
{
 margin-top: 1em;
 margin-bottom: 1em;
}
.image_border
{
 border: 3px solid black;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}
.file_upload
{
 margin-bottom: 10px;
}

  table.insert_01
  {
    border-collapse: collapse;
    width: 97%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  td.admin_head
  {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: brown;
    font-family: "Calibri", Arial, Times, serif;
    font-size: 17px;
    font-weight: bold;
    color: red;
    height: 35px;
    padding: 3px 3px 3px 3px;
  }
  td.admin_data
  {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: brown;
    font-family: "Calibri", Arial, Times, serif;
    font-size: 16px;
    color: #000;
    height: 35px;
    padding: 3px 3px 3px 3px;
  }
  .nav_b
  { 
    font-family: "Arial", Times, serif;
    font-size: 14px;
    color: green;
    padding-bottom:1em
  }
  .nav
  { 
    font-family: "Arial", Times, serif;
    font-size: 14px;
    color: green;
  }
  .back
  {
   margin-right: 1em;
   margin-top: 1em;
  }

  a
  {
   color: red;
   font-weight: bold;
   text-decoration: underline;
  }
  a:hover
  {
   color: red;
   font-weight: bold;
   text-decoration: none;
  }